
<div class="bg-[#f4f2ee]">
  <button
  data-drawer-target="logo-sidebar"
  data-drawer-toggle="logo-sidebar"
  aria-controls="logo-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <img
      src="/images/logo-BfNap0Pe.png"
      class="m-auto w-full mb-5"
      alt="Flowbite Logo"
    />

    <ul class="space-y-2 font-medium">
      <li
        class="mb-6 text-white shadow-orange-300 shadow-lg rounded-xl hover:shadow-xl hover:shadow-orange-50"
      >
        <a href="#" class="active flex items-center px-6 py-2.5 rounded-lg">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M445.588 56l-.026 384.352c6.881 11.323 14 15.677 19.97 15.648 5.924-.028 12.967-4.434 19.714-15.418L466.82 244.27l-.215-2.391 1.475-1.906c21.174-27.169 28.573-74.108 22.533-113.81-3.02-19.852-9.342-37.82-18.195-50.522-7.424-10.652-16.28-17.447-26.828-19.641h-.002zm-372.375.004l-.016 67.127-12.56-.016V56.008H46.332l.002 67.11H33.756v-67.11h-14.57v103.228c-.001 11.417 6.23 17.748 16.04 21.662l4.06 1.622-.09 4.37c-2 84.57-3.977 169.139-5.962 253.708C40.074 451.79 47.1 456.028 52.95 456c5.85-.028 12.87-4.377 19.623-15.432-2.315-84.547-4.63-169.096-6.941-253.644l-.12-4.4 4.073-1.606c10.324-4.106 17.039-11.074 17.039-21.676V56.004h-13.41zM256 95A161 161 0 0 0 95 256a161 161 0 0 0 161 161 161 161 0 0 0 161-161A161 161 0 0 0 256 95z"
            ></path>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Mealss</span>
        </a>
      </li>
      <li class="box rounded-xl mb-4 hover:shadow-orange-50 hover:shadow-xl">
        <a href="#" class="flex items-center px-6 py-2.5 rounded-xl text-black">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M445.588 56l-.026 384.352c6.881 11.323 14 15.677 19.97 15.648 5.924-.028 12.967-4.434 19.714-15.418L466.82 244.27l-.215-2.391 1.475-1.906c21.174-27.169 28.573-74.108 22.533-113.81-3.02-19.852-9.342-37.82-18.195-50.522-7.424-10.652-16.28-17.447-26.828-19.641h-.002zm-372.375.004l-.016 67.127-12.56-.016V56.008H46.332l.002 67.11H33.756v-67.11h-14.57v103.228c-.001 11.417 6.23 17.748 16.04 21.662l4.06 1.622-.09 4.37c-2 84.57-3.977 169.139-5.962 253.708C40.074 451.79 47.1 456.028 52.95 456c5.85-.028 12.87-4.377 19.623-15.432-2.315-84.547-4.63-169.096-6.941-253.644l-.12-4.4 4.073-1.606c10.324-4.106 17.039-11.074 17.039-21.676V56.004h-13.41zM256 95A161 161 0 0 0 95 256a161 161 0 0 0 161 161 161 161 0 0 0 161-161A161 161 0 0 0 256 95z"
            ></path>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Ingredients</span>
        </a>
      </li>
      <li class="box rounded-xl hover:shadow-orange-50 hover:shadow-xl">
        <a href="#" class="flex items-center text-black px-6 py-2.5 rounded-xl">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M445.588 56l-.026 384.352c6.881 11.323 14 15.677 19.97 15.648 5.924-.028 12.967-4.434 19.714-15.418L466.82 244.27l-.215-2.391 1.475-1.906c21.174-27.169 28.573-74.108 22.533-113.81-3.02-19.852-9.342-37.82-18.195-50.522-7.424-10.652-16.28-17.447-26.828-19.641h-.002zm-372.375.004l-.016 67.127-12.56-.016V56.008H46.332l.002 67.11H33.756v-67.11h-14.57v103.228c-.001 11.417 6.23 17.748 16.04 21.662l4.06 1.622-.09 4.37c-2 84.57-3.977 169.139-5.962 253.708C40.074 451.79 47.1 456.028 52.95 456c5.85-.028 12.87-4.377 19.623-15.432-2.315-84.547-4.63-169.096-6.941-253.644l-.12-4.4 4.073-1.606c10.324-4.106 17.039-11.074 17.039-21.676V56.004h-13.41zM256 95A161 161 0 0 0 95 256a161 161 0 0 0 161 161 161 161 0 0 0 161-161A161 161 0 0 0 256 95z"
            ></path>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Area</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64 options">
  <div class="container py-8 px-4">
    <h1 class="text-4xl font-bold">Learn, Cook, Eat Your Food</h1>

    <div class="meals">
      <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select your country</label>
        <select
          (change)="getMeals()"
          id="tabs"
          class="bg-gray-50 border mt-8 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="All">All</option>
          <option value="beef">Beef</option>
          <option>Breakfast</option>
          <option>Chicken</option>
          <option>Dessert</option>
          <option>Goat</option>
          <option>Lamb</option>
          <option>Miscellaneous</option>
          <option>Pasta</option>
          <option>Pork</option>
          <option>Seafood</option>
          <option>Side</option>
          <option>Starter</option>
          <option>Vegan</option>
          <option>Vegetarian</option>
        </select>
      </div>
      <ul
        class="hidden text-sm font-medium text-center mt-8 text-gray-500 rounded-lg sm:flex flex-wrap gap-4 dark:divide-gray-700 dark:text-gray-400"
      >
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="all"
            routerLinkActive="bg-black text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-200 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >All</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="beef"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Beef</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="breakfast"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Breakfast</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Chicken"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Chicken</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Dessert"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Dessert</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Goat"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Goat</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Lamb"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Lamb</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Miscellaneous"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Miscellaneous</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Pasta"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Pasta</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Pork"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Pork</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Seafood"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
            >Seafood</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Side"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
          >
            Side</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Starter"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
          >
            Starter</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Vegan"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
          >
            Vegan</a
          >
        </li>
        <li class="w-fit focus-within:z-10">
          <a
            routerLink="Vegetarian"
            href="#"
            class="inline-block w-fit px-4 py-2 shadow hover:shadow-xl border border-gray-400 dark:border-gray-700 rounded-3xl"
            aria-current="page"
          >
            Vegetarian</a
          >
        </li>

        <!-- <li class="w-full focus-within:z-10">
        <a
          href="#"
          class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          >Dashboard</a
        >
      </li>
      <li class="w-full focus-within:z-10">
        <a
          href="#"
          class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          >Settings</a
        >
      </li>
      <li class="w-full focus-within:z-10">
        <a
          href="#"
          class="inline-block w-full p-4 bg-white border-s-0 border-gray-200 dark:border-gray-700 rounded-e-lg hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          >Invoice</a
        >
      </li> -->
      </ul>
    </div>

    <div class="">
      <router-outlet></router-outlet>

      <!-- <app-beef></app-beef> -->
      <!-- @for (meal of allData; track $index) {
      <div
        class="meal sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 gap-x-6 gap-y-4 rounded-4xl text-center bg-white p-12 pb-4"
      >
        <img
          src="/images/g046bb1663960946.jpg"
          class="w-full rounded-full -translate-y-20"
          alt=""
        />
        <h3>{{ meal.strMeal }}</h3>
        <h5 class="flex items-center justify-center">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"
            ></path>
          </svg>
          Japanese
        </h5>
        <button>View Recipe</button>
      </div>
      } -->

      <!-- <div class="meal sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 gap-x-6 gap-y rounded-4xl text-center bg-white p-12 pb-4">
        <img src="/images/g046bb1663960946.jpg" class="w-full rounded-full -translate-y-20" alt="" />
        <h3>meal</h3>
        <h5 class=" flex items-center justify-center">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"
            ></path>
          </svg>
          Japanese
        </h5>
        <button> View Recipe</button>

      </div> -->
    </div>
  </div>
</div>

<footer class="bg-white text-gray-600 z-50 relative py-5 text-center">
  <h3>© 2025 Aya Ashraf. All Rights Reserved.</h3>
</footer>
</div>
